<div class="text-center">
  <div class="description">
    <h1>Choice!</h1>
    <h2>本日のお題「<%= @quest.content %>」</h2>
    お題にたいしてふさわしいと思う方を選んでください。
  </div>
  <button type="button" class="btn btn-lg btn-primary" onclick="location.href='choice'">Start</button>
</div>
