<div class="text-center">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag("character/cr7.png") %>
    </div>
    <div class="col-xs-6">
      <%= image_tag("character/rb.png") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-warning btn-lg" style="width:100%">hoge</button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-warning btn-lg" style="width:100%">fuga</button>
    </div>
  </div>
</div>
