<div class="text-center">
  <div class="question">ドリブルスピード速いのはどっち？</div>
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag("character/cr7.png") %>
    </div>
    <div class="col-xs-6">
      <%= image_tag("character/rb.png") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button id="left-btn" class="btn btn-warning btn-lg" style="width:100%">ロナウド</button>
    </div>
    <div class="col-xs-6">
      <button id="right-btn" class="btn btn-warning btn-lg" style="width:100%">ロッベン</button>
    </div>
  </div>
</div>
