html, body {
  background-color: #333;
}

.question {
  border-radius: 6px;
  padding: 5px;
  margin: 5px 5px 0 5px;
  background-color: #eee;
}

.description {
  border-radius: 6px;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  background-color: #eee;
}

#left-img {
  padding-left: 10px;
  padding-right: 10px;
}

#right-img {
  padding-left: 10px;
  padding-right: 10px;
}

.left-img {
  border: 4px solid #285e8e;
}

.right-img {
  border: 4px solid #ac2925;
}

#left-choice-btn, #right-choice-btn {
  font-size: 14px;
  margin-top: 5px;
}

#left-done-btn, #right-done-btn {
  font-size: 14px;
  margin-top: 5px;
}

#other-result-btn {
  font-size: 14px;
  margin-top: 5px;
}

